<div class="row">
    <div class="col-md-6 offset-3">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="https://th.bing.com/th/id/R.5bc6a94ca0114ea56198bccc0a2b0d98?rik=eDteuVFFJ12iYg&pid=ImgRaw&r=0" class="rounded me-2" alt="...">
                <strong class="me-auto">Bootstrap</strong>
                <small class="text-muted">11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
            <div class="toast-body">
                <h1 class="text-info">You've reached the end of the internet</h1>
                <hr />
   
            </div>
        <a class="btn btn-outline-success" asp-controller="Soccer_Jerseys" asp-action="Index">Home Page</a>
    </div>
</div>